body {
  font-family: sans-serif;
  margin: 0;
  background: #dee;
}

.wrapper {
  margin: 0 auto;
  width: 960px;
  background: white;
  border-left: 1px dashed #cf112e;
  border-right: 1px dashed #cf112e;
  box-shadow: 0 0 3em -1em black;
}

header {
  height: 280px;
  background: url('assets/logo-cis.png') 70% 90px no-repeat;
}

section {
  padding: 72px 48px;
}

section.babeth {
  border-top: 1px dashed #cf112e;
  position: relative;
  margin-bottom: 72px;
  padding: 0;
}

.portrait {
  height: 267px;
  width: 200px;
  background: url('assets/portrait-babeth.jpg');
  position: absolute;
  top: -70px;
  left: 160px;
}

.cv {
  padding: 0 0 0 432px;
}

.cv ul {
  background: #cf112e;
  padding: 0 0 0 6px;
}

.cv li {
  padding: 0.1em 0 0.1em 0.75em;
  list-style-type: none;
  background: white;
}

.nom {
  color: #cf112e;
  font-size: 1.5em;
  font-weight: bold;
  font-variant: small-caps;
  margin: 1em 0 1em -2px;
}

.logo-lesmills {
  width: 96px;
  height: 14px;
  background: url('assets/logo-lesmills.png') no-repeat;
  background-size: 100%;
  display: inline-block;
  position: relative;
  top: 1px;
}

.activités, .contact {
  padding: 48px;
  margin: 0;
  background: #cf112e;
  color: white;
  text-shadow: 1px 1px 3px black;
}

.activités dt {
  font-variant: small-caps;
  font-size: 1.5em;
  font-style: oblique;
  text-shadow: 2px 2px 2px black;
  padding: 1.5em 0 0;
}

.activités dd {
  margin: 0;
}

.planning {
  border-bottom: 1px dashed #cf112e;
}

.planning .activités-jour {
  width: 25%;
  float: left;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.activités-jour > dt {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.2em;
  color: black;
  text-shadow: none;
  margin: 0 0 24px;
  padding: 0 0 0 0.2em;
}

.activités-jour dl {
  min-height: 80px;
}

.activités-jour dd {
  margin: 0;
}

.activités-jour dd dt {
  border-width: 2px;
  border-style: solid;
  width: 3em;
  height: 2ex;
  padding: 0.1em 1em 0.1em 0.1em;
  border-top-right-radius: 2ex;
}

.activités-jour dd dd, .tarifs dt:not(.header) {
  border-width: 2px;
  border-style: solid;
  padding: 1ex 1em;
  width: 7em;
  position: relative;
  top: -2px;
}

.pilates *, .tarifs .pilates {
  border-color: mediumseagreen;
  background: mediumseagreen;
}

.pilates dd, .tarifs .pilates {
  background: lightgreen;
}

.team-training *, .tarifs .team-training {
  border-color: #cf112e;
  background: #cf112e;
}

.team-training dd, .tarifs .team-training {
  background: black;
}

.step *, .tarifs .step {
  border-color: #dc345c;
  background: #dc345c;
}

.step dd, .tarifs .step {
  background: lightcoral;
}

.gym *, .tarifs .gym {
  border-color: rebeccapurple;
  background: rebeccapurple;
}

.gym dd, .tarifs .gym {
  background: mediumpurple;
}

.renfo *, .tarifs .renfo {
  border-color: #0069b0;
  background: #0069b0;
}

.renfo dd, .tarifs .renfo {
  background: #6994ca;
}

.clearfix {
  clear: both;
}

.tarifs {
  background: #aaa;
  color: white;
  text-shadow: 0.05em 0.05em 0.05em black;
  height: 480px;
  padding: 48px 0 48px 140px;
}

.tarifs dt {
  float: left;
  margin-right: 8em;
}

dt.header {
  width: 7em;
}

.tarifs dt:not(.header) {
  margin-top: 1ex;
  margin-bottom: 2ex;
}

.tarifs dd:not(.header) {
  margin-top: 2ex;
}

.tarifs span {
  width: 15em;
}

.tarifs .header {
  border: none;
}

.header {
  font-variant: small-caps;
  padding: 1ex 1em;
  top: 0;
}

.tarifs span {
  display: inline-block;
}

.contact {
  padding-bottom: 12px;
}

.contact ul {
  list-style-type: none;
  padding: 3ex 0 0;
}

.contact li {
  display: inline-block;
  padding-right: 80px;
  padding-top: 12px;
  height: 23px;
}

.contact li:last-of-type {
  padding-right: 0px;
}

.contact li.facebook {
  background: url('assets/logo-facebook.png') no-repeat;
  padding-left: 40px;
}

.contact a {
  color: white;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}
