body {
  font-family: sans-serif;
  margin: 0;
  background: #dee;
}

.wrapper {
  margin: 0 auto;
  width: 960px;
  background: white;
  border-left: 1px dashed #cf112e;
  border-right: 1px dashed #cf112e;
  box-shadow: 0 0 3em -1em black;
}

header {
  height: 200px;
  background: url('assets/logo-cis.png') no-repeat;
}
