body {
  font-family: sans-serif;
  margin: 0;
  background: #dee;
}

.wrapper {
  margin: 0 auto;
  width: 960px;
  background: white;
  border-left: 1px dashed #cf112e;
  border-right: 1px dashed #cf112e;
  box-shadow: 0 0 3em -1em black;
}

header {
  height: 280px;
  background: url('assets/logo-cis.png') 70% 90px no-repeat;
}

section {
  margin: 72px 0 0;
  padding: 0 48px;
}

section.babeth {
  border-top: 1px dashed #cf112e;
  position: relative;
}

.portrait {
  height: 267px;
  width: 200px;
  background: url('assets/portrait-babeth.jpg');
  position: absolute;
  top: -70px;
  left: 160px;
}

.cv {
  padding: 0 0 0 432px;
}

.cv ul {
  background: #cf112e;
  padding: 0 0 0 6px;
}

.cv li {
  padding: 0.1em 0 0.1em 0.75em;
  list-style-type: none;
  background: white;
}

.nom {
  color: #cf112e;
  font-size: 1.5em;
  font-weight: bold;
  font-variant: small-caps;
  margin: 1em 0 1em -2px;
}

.logo-lesmills {
  width: 96px;
  height: 14px;
  background: url('assets/logo-lesmills.png') no-repeat;
  background-size: 100%;
  display: inline-block;
  position: relative;
  top: 1px;
}

.activités {
  background: #cf112e;
  padding: 48px;
  color: white;
  text-shadow: 1px 1px 3px black;
}

.activités dt {
  font-variant: small-caps;
  font-size: 1.5em;
  font-style: oblique;
  text-shadow: 2px 2px 2px black;
  padding: 1.5em 0 0;
}

.activités dd {
  margin: 0;
}
